# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# Environment variables
.env

# MacOS
.DS_Store

# Debugger working directory
.vscode/

# Coverage directory used by tools like istanbul
coverage/

# Optional npm cache directory
.npm

# MongoDB
/data/db/

# Optional eslint cache
.eslintcache
